server{
     port 5555
     host localhost1
     servername reda1
     root ../../Desktop/webServe2.7
     limit 10000


     location /loc1 (
          get on
          post off
          delete on
          auto_index on
          root ../../Desktop/webServe2.7
          upload_path /path
          CGI_path /cgi-bin
     )

     location /location (
          get on
          post off
          delete on
          auto_index on
          root ../../Desktop/webServe2.7/includes
          redirection /loc1
          upload_path /path
          CGI_path /cgi-bin
     )

     
}
